@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-btn {
  background: var(--primary-main, #11190c);
  color: "white"; /* Your desired text color */
}
.bg-btn:disabled {
  background: var(--gray-100, #EDF2F7);
  color: var(--black-alpha-400, rgba(0, 0, 0, 0.24));
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
